body {
    background-color:black;
    color: #00ff00;
    font-family: Monospace;
    font-size:14px;
    margin-top: 25px;
}

body h1, h2{
    color: white;
}

a, a:visited {
    text-decoration: none;
}

a {
    color: #00ff00;
    background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 5px),
    rgba(0, 255, 0, 0.35) calc(50% - 5px),
    rgba(0, 255, 0, 0.35) 100%);
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
}

a:hover {
    color: #000;
    padding: 2px 0 4px 0;
    background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 5px),
    rgba(0, 255, 0, 1) calc(50% - 5px),
    rgba(0, 255, 0, 1) 100%);
    background-position: 0 100%;
    text-transform: uppercase;
}

.center_this {
    max-width: 780;
    margin: auto;
    border: 1px solid rgb(0, 255, 0);
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#no_underline a{
    color: #00ff00;
    padding: 0;
    background-image: none;
    background-position: 0 100%;
}

/* #btn {
    border: 1px solid rgb(0, 255, 0);
} */

#no_underline a:hover{
    text-transform: none;
    text-decoration: underline;
}

#privat, #notprivat {
    line-height: 12pt;
}

#upcoming {
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
    border: 1px solid rgb(0, 255, 0);
}

#upcoming td:nth-child(4) {
    color: white;
}

#upcoming td:nth-child(5) {
    color: white;
}

#upcoming td:nth-child(4) a {
    color: white;
}

#privat {
    padding: 20px 0px 20px 0px;
}

#privat td:nth-child(4) {
    color: white;
}

#privat td:nth-child(5) {
    color: white;
}

#privat td:nth-child(4) a {
    color: white;
}

#notprivat td:nth-child(4) {
    color: white;
}

#notprivat td:nth-child(5) {
    color: white;
}

#notprivat td:nth-child(4) a {
    color: white;
}


#footer {
    color: white;
    margin: 50px 0px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: black;
    margin: auto;
    padding: 30px;
    border: 1px solid rgb(0, 255, 0);
    width: 550px;
}

.textbox {
    font-size:14px;
    border-color:#cccccc;
    background-color:#000000;
    color:#00ff00;
    border: 1px solid rgb(0, 255, 0);
    padding:10px;
    /* text-align:center; */
    font-family:monospace;
    font-style:italic;
    font-weight:normal;
}

.textbox:focus {
    outline:none;
}

input[type=button] {
    background-color:#000;
    border:1px #0f0 solid;
    color:#0f0;
}

input[type=submit] {
    background-color:#000;
    border:1px #0f0 solid;
    color:#0f0;
}


/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}