{% extends "base.html" %}

{% block content %}
<h1>close todo</h1>

<form method="POST" action="/todo/close/{{ todo.id }}">
  <div>
    <h2>{{ todo.id }} - {{ todo.title }}</h2>
    <h3>added {{ todo.date_added }}</h3>

    {% if todo.comments|length > 0 %}
      {% for comment in todo.comments %}
        <pre>comment {{loop.index}}	<input type="text" class="textbox" name="comment_{{loop.index}}" size="75" value="{{ comment[0] }}"></pre>
      {% endfor %}
    {% endif %}
    
    {% if todo.tags|length > 0 %}
      <pre>tags		<input type="text" class="textbox" name="tags" size="75" value="{% for tag in todo.tags %}{{ tag }}, {% endfor %}"></pre>
    {% endif %}
    
    {% if todo.rem_time|length > 0 %}
      <pre>reminder	<input type="date" class="textbox" name="reminder" size="30" value="{{ todo.rem_time }}"></pre>
    {% endif %}

    <pre>result		<input type="text" class="textbox" name="result" size="75"></pre>

    <input type="submit" value="ok">
    <input type="button" onclick="location.href='/open';" value="cancel"/>
  </div>
  </form>
</div>
{% endblock %}
