{% extends "base.html" %}

{% block content %}
    <h1>edit todo</h1>

    <form method="POST" action="">
        <div>
        <pre>title	<input type="text" class="textbox" name="title" size="75" value="{{ todo.title }}"></pre>
        </div>
        <a href="#">ok</a> <a href="#">cancel</a>
    </form>
</div>

<!-- <div class=container>
    <h1>Todos</h1>

    <h2>Edit todo</h2>

    <p>title {{ todo.title }}</p>
    <p>status {{ todo.status }}</p>
    <p>comments {{ todo.comments }}</p>
    <p>tags {{ todo.tags }}</p>
    <p>result {{ todo.result }}</p>
    <p>date_added {{ todo.date_added }}</p>
    <p>rem_time {{ todo.rem_time }}</p>

</div> -->
{% endblock %}
