{% extends "base.html" %}

{% block content %}
    <h1>edit todo</h1>

    <form method="POST" action="/edit_todo/{{ todo.id }}">
    <div>
    <pre>title		<input type="text" class="textbox" name="title" size="75" value="{{ todo.title }}"></pre>

    {% if todo.comments|length > 0 %}
        {% for c in todo.comments %}
        <pre>comment {{loop.index}}	<input type="text" class="textbox" name="comment_{{loop.index}}" size="75" value="{{ c[0] }}"></pre>
        {% endfor %}
    {% endif %}
    <pre>new comment	<input type="text" class="textbox" name="new_comment" size="75"></pre>

    <input type="submit" value="ok"> <input type="button" onclick="location.href='/open';" value="cancel"/>
    </div>
    </form>
</div>

<!-- <div class=container>
    <h1>Todos</h1>

    <h2>Edit todo</h2>

    <p>title {{ todo.title }}</p>
    <p>status {{ todo.status }}</p>
    <p>comments {{ todo.comments }}</p>
    <p>tags {{ todo.tags }}</p>
    <p>result {{ todo.result }}</p>
    <p>date_added {{ todo.date_added }}</p>
    <p>rem_time {{ todo.rem_time }}</p>

</div> -->
{% endblock %}
