{% extends "base.html" %}

{% block content %}

{% if status_to_show == "open" %}
    <h1>open todos</h1>
    <a href='/closed/'>show closed</a>|{% if comments %}<a href='/open/'>close comments</a>{% else %}<a href='/open_comments/'>show comments</a>{% endif %}
{% else %}
    <h1>closed todos</h1>
    <a href='/open/'>show open</a>|{% if comments %}<a href='/closed/'>close comments</a>{% else %}<a href='/closed_comments/'>show comments</a>{% endif %}
{% endif %}
<!--
<table>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
</table>
-->

<div id="privat">
{% for id, todo in todos.todos.items() %}
{% if todo.status == status_to_show and 'privat' in todo.tags %}
{% if status_to_show == "open" %}
<p><a href="{{ url_for('close_todo', todo_id=todo.id) }}">close</a> | {{ todo.id }} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">{{ todo.title }}</a>{% if todo.comments|length > 1 %} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">+</a>{% endif %}</p>
{% else %}
<p><a href="{{ url_for('reopen_todo', todo_id=todo.id) }}">reopen</a> | {{ todo.id }} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">{{ todo.title }}</a>{% if todo.comments|length > 1 %} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">+</a>{% endif %}</p>
{% endif %}
{% if comments and todo.comments|length > 1 %}
{% for c in todo.comments %}
<p>&nbsp;&nbsp;{{ c[0] }}: {{ c[1] }}</p>
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
</div>

<p>#################################################################################</p>

<div id="notprivat">
{% for id, todo in todos.todos.items() %}
{% if todo.status == status_to_show and 'privat' not in todo.tags %}
{% if status_to_show == "open" %}
<p><a href="{{ url_for('close_todo', todo_id=todo.id) }}">close</a> | {{ todo.id }} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">{{ todo.title }}</a>{% if todo.comments|length > 1 %} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">+</a>{% endif %}</p>
{% else %}
<p><a href="{{ url_for('reopen_todo', todo_id=todo.id) }}">reopen</a> | {{ todo.id }} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">{{ todo.title }}</a>{% if todo.comments|length > 1 %} <a href="{{ url_for('edit_todo', todo_id=todo.id) }}">+</a>{% endif %}</p>
{% endif %}
{% if comments and todo.comments|length > 1 %}
{% for c in todo.comments %}
<p>&nbsp;&nbsp;{{ c[0] }}: {{ c[1] }}</p>
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
</div>

{% endblock %}
