{% extends "base.html" %}

{% block content %}
<p><a id="new_todo">new todo</a></p>

<h1 style="display:inline;">todos with tag: {{ tag_filter }}</h1>
<p><a href='/open'>show open</a>|{% if comments %}<a href="{{ url_for('filter_by_tag', tag=tag_filter) }}">close comments</a>
{% else %}<a href="{{ url_for('filter_by_tag', tag=tag_filter, comments=True) }}">show comments</a>{% endif %}</p>

<table id="privat">
{% for id, todo in todos.todos.items() %}
{% if tag_filter in todo.tags and 'privat' in todo.tags %}
<tr>
{% if todo.status == "open" %}
  <td><a href="{{ url_for('change_status_todo_tag', tag=tag_filter, todo_id=todo.id, status='closed') }}">close</a></td>
  <td><a href="{{ url_for('edit_todo', todo_id=todo.id) }}">edit</a></td>
{% else %}
  <td><a href="{{ url_for('change_status_todo_tag', tag=tag_filter, todo_id=todo.id, status='open') }}">reopen</a></td>
  <td></td>
{% endif %}
<td>{{ todo.id }}</td>
<td id="no_underline" style="width:580px">
{% if todo.id == id_comments %}
  <a href="{{ url_for('filter_by_tag', tag=tag_filter) }}">{{ todo.title }}</a>
{% else %}
  <a href="{{ url_for('one_comments_tag', tag=tag_filter ,todo_id=todo.id) }}">{{ todo.title }}</a>
{% endif %}
</td>
<td id="no_underline">
{% if todo.id == id_comments %}
  <a href="{{ url_for('filter_by_tag', tag=tag) }}">-</a>
{% elif todo.comments|length > 0 or todo.tags|length > 0 %}
  <a href="{{ url_for('one_comments_tag', tag=tag_filter ,todo_id=todo.id) }}">+</a>
{% endif %}
</td>
</tr>
{% if (comments and todo.comments|length > 0) or (todo.id == id_comments)%}
  {% for comment in todo.comments %}
    <tr>
    <td></td><td></td><td></td><td>&nbsp;- {{ comment[0] }}</td><td>{{ comment[1] }}</td>
    </tr>
  {% endfor %}
  {% if todo.tags|length > 0 %}
    <tr>
    <td></td><td></td><td></td><td style="color: rgb(168, 168, 0)">&nbsp;{% for tag in todo.tags %}*{{ tag }} {% endfor %}</td><td></td>
    </tr>
  {% endif %}
{% endif %}
{% endif %}
{% endfor %}
</table>
.
<table id="notprivat">
{% for id, todo in todos.todos.items() %}
{% if tag_filter in todo.tags and 'privat' not in todo.tags %}
<tr>
{% if todo.status == "open" %}
<td><a href="{{ url_for('change_status_todo_tag', tag=tag_filter, todo_id=todo.id, status='closed') }}">close</a></td>
<td><a href="{{ url_for('edit_todo', todo_id=todo.id) }}">edit</a></td>
{% else %}
<td><a href="{{ url_for('change_status_todo_tag', tag=tag_filter, todo_id=todo.id, status='open') }}">reopen</a></td>
<td></td>
{% endif %}
<td>{{ todo.id }}</td>
<td id="no_underline" style="width:580px">
{% if todo.id == id_comments %}
  <a href="{{ url_for('filter_by_tag', tag=tag_filter) }}">{{ todo.title }}</a>
{% else %}
  <a href="{{ url_for('one_comments_tag', tag=tag_filter ,todo_id=todo.id) }}">{{ todo.title }}</a>
{% endif %}
</td>
<td id="no_underline">
{% if todo.id == id_comments %}
  <a href="{{ url_for('filter_by_tag', tag=tag_filter) }}">-</a>
{% elif todo.comments|length > 0 or todo.tags|length > 0 %}
  <a href="{{ url_for('one_comments_tag', tag=tag_filter,todo_id=todo.id) }}">+</a>
{% endif %}
</td>
</tr>
{% if comments or (todo.id == id_comments) %}
  {% if todo.comments|length > 0  %}
    {% for comment in todo.comments %}
      <tr>
      <td></td><td></td><td></td><td>&nbsp;- {{ comment[0] }}</td><td>{{ comment[1] }}</td>
      </tr>
    {% endfor %}
  {% endif %}
  {% if todo.tags|length > 0 %}
    <tr>
    <td></td><td></td><td></td><td style="color: rgb(168, 168, 0)">&nbsp;{% for tag in todo.tags %}*{{ tag }} {% endfor %}</td style="color: rgb(168, 168, 0)"><td></td>
    </tr>
  {% endif %}
{% endif %}
{% endif %}
{% endfor %}
</table>
.
<table id="tab_used_tags">
  <tr>
    {% for used_tag in used_tags %}
    <td><a href="{{ url_for('filter_by_tag', tag=used_tag) }}">{{ used_tag }}</a></td>
    {% endfor %}
  </tr>
</table>
    
{% endblock %}