{% extends "base.html" %}

{% block content %}

<h1>closed todos</h1>
<a href='/open/'> show open </a>

<a href='/closed_comments/'> show comments </a>

<div id="privat">
    {% for id, todo in todos.todos.items() %}
        {% if todo.status == "closed" and 'privat' in todo.tags %}
           <p><a href="{{ url_for('edit_post', todo_id=todo.id) }}">edit</a> {{ todo.id }} {{ todo.title }}</p>
            {% if comments and todo.comments|length > 0 %}
                {% for c in todo.comments %}
                    <p>{{ c[0] }}: {{ c[1] }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<div id="notprivat">
    {% for id, todo in todos.todos.items() %}
        {% if todo.status == "closed" and 'privat' not in todo.tags %}
            <p><a href="{{ url_for('edit_post', todo_id=todo.id) }}">edit</a> {{ todo.id }} {{ todo.title }}</p>
            {% if comments and todo.comments|length > 0 %}
                {% for c in todo.comments %}
                    <p>{{ c[0] }}: {{ c[1] }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<div><p>Lul3f</p></div>

{% endblock %}
